<app-header title="alert" backBtn="true"></app-header>

<ion-content>

<ion-button (click)="presentAlert()" expand="block" shape="round">
    Mostrar Alert
</ion-button>

<ion-button (click)="presentAlertMultipleButtons()" expand="block" shape="round">
    Mostrar Alert multibotón
</ion-button>

<ion-button (click)="presentAlertPrompt()" expand="block" shape="round">
    Mostrar Alert PROMPT
</ion-button>

<ion-button (click)="presentAlertRadio()" expand="block" shape="round">
    Mostrar Alert RadioButtons
</ion-button>


<ion-button (click)="presentAlertCheckbox()" expand="block" shape="round">
    Mostrar Alert CheckBox
</ion-button>




</ion-content>
