<app-header title="Card" backBtn="true"></app-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>

    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem et fugiat, perspiciatis ullam dolore maxime similique repellendus saepe? Ipsam neque dignissimos consequuntur dolor quasi cum vero nesciunt dolorem beatae mollitia.
    </ion-card-content>

  </ion-card>

<ion-card>
  <img src="https://img.ecartelera.com/noticias/fotos/60700/60729/1.jpg" alt="groot">
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem et fugiat, perspiciatis ullam dolore maxime similique repellendus saepe? Ipsam neque dignissimos consequuntur dolor quasi cum vero nesciunt dolorem beatae mollitia.
  </ion-card-content>
</ion-card>



</ion-content>
